<html>

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.8.3/angular-resource.min.js"></script>

        <script src="app.js"></script>


        <base href="https://test-api.alberty.dev/"> 
    </head>
    
    <body ng-app="myApp" ng-controller="mainCtrl">
        Hello, World!

        <div>
            <!--
                in order for an API setup to work, you need a DB spun up
            <input type="text" id="parm1-input" ng-model="params.parm1"/>
            <input type="text" id="parm2-input" ng-model="params.parm2"/>
            <button type="button" ng-click="getReq()">Make API call</button>
            -->
            <a href="sampleEndpoint">Sample endpoint</a>
            <a href="sampleEndpoint/withParams?parm1=t&parm2=a">Sample with params</a>

            <div class="api-response" ng-view></div>
            
        </div>

    </body>

    


</html>